*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #fff;
	background-image: url("../img/bg.jpg");
	background-size: 100vw;
	background-attachment: fixed;
}

section{
	width: 600px;
	margin: 0px auto;
	background-color: #fff;
}

header{
	height: 150px;
	background-image: url("../img/header.jpg");
}

h1{
	font: bold 36px san-serif;
	color: #fff;
	padding: 10px 10px 10px 40px;
	text-shadow: 1px 2px 3px #333;
}

nav ul{
	list-style-type: none;
	display: flex;
	background-color: #fff;
	justify-content: space-between;
}

.now{
	width: 100px;
	background-color: #fba;
	color: #fff;
	display: block;
	padding: 10px 10px;
	text-align: center;
}

nav a{
	width: 100px;
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px 10px;
	text-align: center;
}

nav a:hover{
	background-color: #f99;
	color: #fff;
}

h2{
	color: #6c6;
	font-size: 18px;
	margin: 20px auto;
	width: 200px;
	padding: 3px 20px 0px 20px;
	border-top: 1px dotted #6c9;
	border-bottom: 1px dotted #6c9;
	text-align: center;
}

h3{
	color: #036;
}

.center{
	text-align: center;
}

.block{
	width: 500px;
	margin: 3px auto 30px;
	clear: both;
}

.re_ind{
	padding: 10px;
}

.re_sp{
	padding: 20px;
}

.clear{
	clear: both;
}

.i_ani{
	position   : relative;
	max-width  : 500px;
	height     : 660px;
	margin     : auto;
	overflow   : hidden;
}
  
.i_ani .i_bg{
	position   : absolute;
	top        : 0;
	left       : 0;
	bottom     : 0;
	right      : 0;
	opacity    : 0;
	animation  : bgAnime 20s infinite;
}

.i_ani .iani01{
	background-image : url(../img/sc01.jpg);
}
.i_ani .iani02{
	background-image : url(../img/sc02.jpg);
	animation-delay  : 5s;
}
.i_ani .iani03{
	background-image : url(../img/sc03.jpg);
	animation-delay  : 10s;
}

.i_ani .iani04{
	background-image : url(../img/sc04.jpg);
	animation-delay  : 15s;
}
  
  @keyframes bgAnime {
	 0% { opacity: 0; transform: scale(0.1, 0.1);z-index: 10 }
	 5% { opacity: 1; transform: scale(1, 1);z-index: 10 }
	25% { opacity: 1; transform: scale(1, 1);z-index: 9 }
	30% { opacity: 1; transform: scale(1, 1);z-index: 9 }
	31% { opacity: 0; }
   100% { opacity: 0; }
  }

.recipe{
	width: 150px;
	background-color: #ff9;
	color: #f60;
	border-radius: 10px;
	box-shadow:3px 3px 3px #cc6;
	padding: 5px 20px 3px 20px;
	margin: 0px auto 40px;
	text-align: center;
}

.recipe a{
	text-decoration: none;
	color: #f30;
}

.recipe a:hover{
	color: #f00;
	font-weight: bold;
}

img{
	margin-bottom: 10px;
}

.left{
	float: left;
	margin-right: 15px;
}
.br{
	border-radius: 20px;
}

.bg01{
	background: url("../img/h01.jpg") center no-repeat;
}

.bg02{
	background: url("../img/h02.jpg") center no-repeat;
}

.bg03{
	background: url("../img/h03.jpg") center no-repeat;
}

.bg04{
	background: url("../img/h04.jpg") center no-repeat;
}

.color_p{
	color: #336;
}

.color_g{
	color: #363;
}

footer{
	color: #333;
	font-size: 80%;
	border-top: 1px solid #663;
	padding: 5px;
	margin-top: 20px;
	text-align: center;
}

#top{
	position: fixed;
	width: 40px;
	height: 40px;
	right: 20px;
	bottom: 20px;
	background: #f99;
	padding: 10px;
	border-radius: 30px;
	font-size: 26px;
	display: none;
	opacity: 0.6;
}

#top a{
	text-decoration: none;
	color: #f30;
}

#top a:hover{
	color: #f00;
	font-weight: bold;
}

.modal_re {
	z-index: 999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px 10px;
	text-align: center
}

.modal_re:not(:target) {
	opacity: 0;
	display: none;
}

.modal_re:target {
	opacity: 1;
	visibility: visible;
}

.modal_re::after {
	display: inline-block;
	height: 100%;
	margin-left: -.05em;
	vertical-align: middle;
	content: ""
}

.modal_re .modal_w {
	box-sizing: border-box;
	display: inline-block;
	z-index: 20;
	position: relative;
	width: 70%;
	max-width: 600px;
	padding: 30px 30px 15px;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .6);
	vertical-align: middle
}

.modal_re .modal_w .modal_recipe {
	max-height: 80vh;
	overflow-y: auto;
	text-align: left
}

.modal_o {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .8)
}

.modal_re .modal_close {
	z-index: 20;
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	color: #95979c !important;
	font-size: 20px;
	font-weight: 700;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	text-indent: 0
}

.modal_re .modal_close:hover {
	color: #2b2e38 !important
}

.move_b {
   opacity: 0;
   animation: fadein-bottom 1s 0s ease-out forwards;
}

@keyframes fadein-bottom {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.move_r {
   opacity: 0;
   animation: fadein-right 1s 0s ease-out forwards;
}
@keyframes fadein-right {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

.move_rw {
	opacity: 0;
	animation: fadein-right 1s 0.5s ease-out forwards;
 }
 @keyframes fadein-right {
	0% {
	   opacity: 0;
	   transform: translateX(20px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
 }

 .move_bs {
	opacity: 0;
	transform: translateY(20px);
	transition: all 1s 0s ease-out;
}

 .move_rs {
	opacity: 0;
	transform: translateX(20px);
	transition: all 1s 0s ease-out;
}

.move_rsw {
	opacity: 0;
	transform: translateX(20px);
	transition: all 1s 0.5s ease-out;
}
